<li
  [style.text-decoration]="completed ? 'line-through' : 'none'"
  class="todo-item"
>
  <label [attr.for]="checkboxId">
    <app-input
      [id]="checkboxId"
      name="checkbox"
      type="checkbox"
      [checked]="completed"
      (onChange)="onToggleClick.emit($event)"
    ></app-input>
    {{ text }}
    <span class="icon-buttons">
      <app-icon-button
        variant="clear"
        alt="edit"
        iconName="edit"
        size="16"
        (onClick)="onEditClick.emit($event)"
      ></app-icon-button>
      <app-icon-button
        variant="clear"
        alt="remove"
        iconName="trash-2"
        size="16"
        (onClick)="onDeleteClick.emit($event)"
      ></app-icon-button>
    </span>
  </label>
</li>

