@if (todos && todos.length) {
  <ul class="todo-items">
    @for (todo of todos; track todo.id) {
      <app-todo-item
        [id]="todo.id"
        [text]="todo.text"
        [completed]="todo.completed"
        [isDisabled]="isDisabled"
        (onToggleClick)="onToggleClick.emit(todo)"
        (onEditClick)="onEditClick.emit(todo)"
        (onDeleteClick)="onDeleteClick.emit(todo.id)"
      ></app-todo-item>
    }
  </ul>
} @else {
  <p class="text-center empty-text">Nothing to display here. Carry on.</p>
}
