.begin-boilerplate {
  padding: 0 1rem 2rem;
  display: block;
  margin: 0 auto;
  max-width: 500px;
  h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  .code-box {
    display: flex;
    padding: 1rem 0 1rem;
    width: 100%;
    flex-wrap: wrap;
    pre {
      font-size: 1em;
      overflow-x: auto;
      padding: 1rem;
      background-color: #333;
      border-radius: 4px;
      color: greenyellow;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
      margin: 0;
      flex-grow: 1;
      // text-align: center ;
    }

    a.btn {
      line-height: 30px;
      margin-top: 1rem;
      flex: 0 1 calc(50% - 0.5rem);
      span {
        margin-left: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
      }
      * {
        vertical-align: middle;
      }
      + .btn {
        margin-left: 1rem;
      }
    }
  }

  .select-box {
    background-color: transparent;
    display: block;
    padding-top: 2.5rem;
    width: 100%;

    select {
      background-color: transparent;
      display: block;
      margin: 0 auto;
      text-align: center;
      outline: none;
      border: none;

      option {
        color: #000;
      }
    }
  }
  .connected-steps {
    display: flex;
    width: 360px;
    margin: 0 auto;
    align-items: center;
  }

  .step {
    color: #fff;
    background-color: #fff;
    display: block;
    border: 4px solid #ccc;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 4px;

    img {
      z-index: -1;
    }

    .text {
      padding-top: 4px;
      line-height: initial;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .connector {
    flex-grow: 1; //fill the space
    width: 36px;
    content: "";
    display: block;
    height: 4px;
    background-color: #ccc;
  }
}
