@if (todoData.error) {
  <app-alert
    variant="error"
    [show]="!!todoData.error"
    [message]="todoData.error"
  ></app-alert>
}
<app-add-todo-form
  [todoValue]="todoData.currentTodoItem.text || ''"
  (onTodoAdd)="events.onTodoCreate($event)"
  (onTodoUpdate)="events.onTodoUpdate($event)"
  placeholder="Add your task"
  [isLoading]="todoData.isActionLoading"
  [buttonInfo]="buttonInfo"
></app-add-todo-form>
@if (todoData.isContentLoading) {
  <br />
  <app-skeleton height="24px"></app-skeleton>
  <br />
  <app-skeleton height="24px"></app-skeleton>
  <br />
  <app-skeleton height="24px"></app-skeleton>
} @else {
  <app-todo-items
    [todos]="todoData.todoItems"
    [isDisabled]="todoData.isActionLoading"
    (onToggleClick)="events.onTodoToggleUpdate($event)"
    (onDeleteClick)="events.onTodoDelete($event)"
    (onEditClick)="events.onTodoEdit($event)"
  ></app-todo-items>
}

